body {
    background: url(../images/abstract.jpg);
}

.container {
    background-color: white;
    opacity: .75;
    text-align: center;
    border: 2%;
    padding: 10%;
    margin-top: 15%;
    height: 75%;
    width: 75%;

}

button {
    margin-top: 3%;
    width: auto;
    height: 75%;
    background-color: grey;
   
}

#start {
    text-align: center;
    display: inline-block;
    margin: auto;
    width: 20%;
    
}

input[type="radio"]{
    margin: 0 10px 0 10px;
  }
